


*{
    margin: 0px;
    padding: 0px;
}

/* =================================== navbar================================== */
#navbar{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0px;
    z-index: 30;
}
#navbar article{
    display: flex;
}
#navbar article div a{
    margin: 15px;
    text-decoration: none;
    color: white;
}
#navbar .ar2{
    font-size: 17px;
}
#navbar .ar2 div a i{
    font-size: 10px;
}
#navbar .ar3{
    opacity: 0.8;
    padding-left: 250px;
    font-size: 13px;
}
#navbar .icon{
    font-size: 25px;
}
/* =================================== hero section ================================== */
#hero{
    background-color: black;
}
#hero .heading{
    font-size: 65px;
    color: white;
    margin-left: 220px;
    padding-top: 30px;
}
#hero .ar{
    background-image: url("./imageAI.png");
    background-repeat: no-repeat;
    width: 1050px;
    height: 470px;
    margin-left: 200px;
    box-shadow: 0px 0px 1000px black inset;
    border-radius: 10px;
    padding-bottom: 90px;
}
#hero .ar .in{
    background-color: black;
    opacity: 0;
}
#hero .ar .in:hover{
    background-color: black;
    opacity: 0.8;
    transition: all 0.8s;
}
#hero .ar .in .p{
    color: white;
    font-size: 25px;
    padding-left: 30px;
    padding-top: 70px;
    padding-bottom: 60px;
}
#hero .ar .in .btn a{
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    background-color: blue;
    border-radius: 30px;
    color: white;
}
#hero .ar .in .btn{
    padding-left: 30px;
    padding-bottom: 290px;
    opacity: 10;
}
/* =================================== first section ================================== */

#first{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 80px;
}
#first article{
    display: flex;
    overflow: hidden;
}
.h1{
    color: white;
    font-size: 30px;
    padding: 30px 0px 40px 90px;
    background-color: black;
}
#first .ar1{
    height: 500px;
    width: 420px;
    margin-left: 70px;
}
#first .ar2{
    height: 500px;
    width: 420px;
}
#first .ar3{
    height: 500px;
    width: 420px;
    margin-right: 70px;
}
#first .p1{
    text-shadow: 10px 5px 10px black;
}
#first .p2{
    text-shadow: 10px 10px 10px black;
}
#first .p3{
    text-shadow: 10px 10px 10px black;
}
#first .div1 img{
    height: 500px;
    width: 420px;
}
#first .div2 img{
    height: 500px;
    width: 420px;
}
#first .div3 img{
    height: 500px;
    width: 420px;
}

#first img:hover{
    height: 600px;
    width: 500px;
    transition: all 1.5s;
}
#first .p1{
    color: white;
    position: absolute;
    font-size: 40px;
    margin-top: 250px;
    margin-left: 20px;
}
#first .p2{
    color: white;
    position: absolute;
    font-size: 40px;
    margin-top: 250px;
    margin-left: 20px;
}
#first .p3{
    color: white;
    position: absolute;
    font-size: 40px;
    margin-top: 200px;
    margin-left: 20px;
}

/* =================================== second section ================================== */
.h{
    font-size: 40px;
    margin-left: 80px;
    margin-top: 50px;
}
#second {
    display: flex;
    /* justify-content: space-between; */
    margin-right: 100px;
    margin-left: 80px;
    padding-top: 50px;
}
#second .ar2{
    margin-left: 20px;
    /* padding-right: 70px; */
}
#second .ar2 div{
    padding-right: 200px;
}
#second article div a{
    text-decoration: none;
    color: black;
}
#second article div a i{
    margin: 30px;
}
#second article div:hover{
    margin: 0px;
    box-shadow: inset 0px 0px 10px black;
}
#second .ar1 .A1{
    padding-left: 450px;
}
#second .ar1 .A2{
    padding-left: 188px;
}
#second .ar1 .A3{
    padding-left: 438px;
}
#second .ar1 .A4{
    padding-left: 442px;
}
#second .ar1 .A5{
    padding-left: 447px;
}
#second .ar1 .A6{
    padding-left: 410px;
}
#second .ar1 .A7{
    padding-left: 470px;
}

/* =================================== third section ================================== */

#third{
    background-color: black;
}
#third .th1{
    color: white;
    font-size: 17px;
    margin-left: 70px;
    padding-top: 90px;
}
#third .th2{
    color: white;
    font-size: 40px;
    margin-left: 50px;
    margin-top: 40px;
}
#third article div{
    display: flex;
}
#third .ar1{
    height: 300px;
    width: 300px;
}


